{# templates/pages/home.twig #}

{% extends "layouts/base.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    
        <h1 class="text-4xl text-white">Welcome, {{ name }}</h1>
        <p>This is the content for the home page.</p>
  
{% endblock %}
