{# templates/pages/login.twig #}

{% extends "layouts/base.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Welcome, {{ name }}</h1>
    <p>This is the content for the Login page.</p>
{% endblock %}
