{# templates/pages/register.twig #}

{% extends "layouts/base.twig" %}

{% block title %}Signup{% endblock %}

{% block content %}
    <h1>Welcome, {{ name }}</h1>
    <p>This is the content for the Signup page.</p>
{% endblock %}
